<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Forget Page</title>
</head>
<body>
    <section class="sectionbody"> 
        <div class="container col-md-6">
       <div class="row d-flex justify-content-center align-items-center">
         <div class="sectionboxcenter">
           <div class="sectionlog1 mt-5 mb-5">
              <form>
             <div class="row g-0 justify-content-center">
               <div class="section6reg">
                 <div class="card-body p-4 p-lg-1 text-black">
                  <h1 class="headingtext"><b>Password Retrieval</b></h1>
                     <div class="sectionreg2 mb-3">
                       <input type="email" class="borderrounded form-control form-control-lg"  placeholder="Enter Email Address*">
                     </div>
                     <div>
                      <div id="captcha">
                        <div id="recaptcha2"></div>
                    </div>
                     </div>
                        <div class="sectionbox pt-3 mb-1">
                          <button class="getbtn" type="button"><b>GET MY PASSWORD</b></button>
                        </div>
                        <div class="sectionbox pt-4 mb-4">
                            <a href="#" class="backloginbtn"><b>Back to Login Page</b></a>
                            </div>
                 </div>
               </div> 
              </div>
              </form>
           </div>
         </div>
       </div>
     </div>
   </section>
   <div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="div1 mt-4">
          <h2 class="jointext"><b>JOIN OUR NEWSLETTER</b></h2>
          <p class="newstext">I understand that the email I enter will be stored by the website. I understand that I may<br>be contacted by the Admin of the website at this email.</p>
        </div>
        <div class="bordersectionnews">
                <input type="email" class="namenewletter form-control"  placeholder="Name">
                <input type="email" class="emailnewletter form-control"  placeholder="Eamil">
        <button class="rightbtn"><b>SUBSCRIBE NOW</b></button>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="https://www.google.com/recaptcha/api.js?onload=myCallBack&render=explicit" async defer></script>
  <script src="main.js"></script>
</body>
</html>