<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Member Login</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
<body>

  <section class="sectionbody py-5">
       <div class="container col-lg-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="sectionboxcenter">
        <div class="sectiontoplogcenter">
          <a href="#" class="memberloginbtn active">Member Login</a>
          <a href="#" class="newregisterbtn">Register New Account</a>
         </div>
          <div class="sectionlog1 mb-3">
             <form>
            <div class="row g-0 justify-content-center">
              <div class="col-md- col-lg-11 d-md-flex align-items-center">
                <div class="card-body p-4 p-lg-1 text-black">
                    <div class="d-flex align-items-center mb-3 py-3 mt-2">
                      <img class="rounded-circle"src="man.png">
                    </div>
                    <div class="socail__site d-flex gap-1 justify-content-around mb-5">
                      <div class="socail__siteBox my-1 face">
                      <a href="#">
                        <div class="socail__siteBox__img"><i class="fa-brands fa-facebook-f"></i></div>
                        <div class="socail__siteBox__txt">Sign In with Facebook</div>
                      </a>
                      </div>
                      <div class="socail__siteBox my-1 goo">
                       <a href="#"> <div class="socail__siteBox__img"><img src="./google.png" alt=""></div>
                        <div class="socail__siteBox__txt">Sign In with Facebook</div></a>
                      </div>
                    </div>
                    <div class="sectionlog2 mb-4">
                      <i class="fa-solid fa-envelope"></i>
                      <input type="email" class="form-control-email form-control email-lg" placeholder="Email ID">
                    </div>
                    <div class="sectionlog2 mb-3">
                      <i class="fa-solid fa-lock"></i>
                      <input type="email" class="form-control-password form-control password-lg" placeholder="Password"/>
                    </div>
                    <div class="sectionlog3 d-flex mb-3">
                      <a class="forget" href="#">*Forgot Password?</a><span class="resetpassword">Click to Reset Password</span>
                      </div>
                    <div class="sectionlog4 pt-1 mb-2 text-center">
                      <button class="loginnowbtn" type="button"><b>LOGIN NOW</b></button>
                    </div>
                </div>
              </div> 
             </div>
             </form>
          </div>
          <div class="sectionlog5 d-md-flex gap-1">
            <div class="textcenterleft my-2">
              <h6 class="m-0 py-1">
                <a class="boxcenter" href="#">Not a Registered User?<small>Create Free User Account</small></a></h6>
            </div>
            <div class="textcenterright my-2">
              <h6 class="m-0 py-1"><a class="boxcenter" href="#">Are You a Local Business<small>List Your Company Now</small></a></h6>

            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  </body>
</html>