<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Register</title>
</head>
<body>
    <section class="sectionbody py-5">
        <div class="container col-lg-5">
       <div class="row d-flex justify-content-center align-items-center">
         <div class="sectionboxcenter">
          <div class="sectiontoplogcenter">
            <a href="#" class="memberloginbtn ">Member Login</a>
            <a href="#" class="newregisterbtn active">Register New Account</a>
           </div>
           <div class="sectionlog1 mb-3">
              <form>
             <div class="row g-0 justify-content-center">
               <div class="section6reg">
                 <div class="card-body-section p-4 p-lg-1 text-black">
                  <h4 class="createtext"><b>Create New Account</b></h4>
                     <div class="sectionreg2 mb-3">
                       <input type="email" class="borderrounded form-control form-control-lg"  placeholder="Enter Email*">
                     </div>
                     <div class="sectionreg3 mb-3">
                       <input type="emailconfirm" class="borderrounded form-control form-control-lg"placeholder="Confirm Email*"/>
                     </div>
                     <div class="sectionpassword mb-3">
                      <input type="create password" class="borderrounded form-control form-control-lg"placeholder="Create Password*"/>
                    </div>
                    <div class="sectionconfirm">
                      <input type="confirm password" class="borderrounded form-control form-control-lg"placeholder="Confirm Password*"/>
                    </div>
                    <div class="sectionreg4">
                      <input type="checkbox" class="checktext"><b> *By Creating an account,you agree to our teams & conditions</b><br>
                      <input type="checkbox" class="checktext"><b> *I understand that personal information I enter on this website will be stored and used to contact me in the future. I can change or remove this information at any time.</b><br>
                      <input type="checkbox" class="checktext"><b> *I understand that if I make any purchases on this website billing information will be securely stored with a 3rd party payment processor. I can change or remove this information at any time.</b>
                    </div>
                 </div>
               </div> 
              </div>
              </form>
           </div>
           <div class="sectionreg5">
            <div class="sectionbox pt-1 mb-2">
              <a href="#" class="profilebtn" type="button"><b>CREATE MY PROFILE</b></a>
            </div>
         </div>
         </div>
       </div>
     </div>
   </section>
</body>
</html>